:root{
    --blue: hsl(246, 80%, 60%);
    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);

    --colWork: hsl(15, 100%, 70%);
    --colPlay: hsl(195, 74%, 62%);
    --colStudy: hsl(348, 100%, 68%);
    --colExercise: hsl(145, 58%, 55%);
    --colSocial: hsl(264, 64%, 52%);
    --colSelfCare: hsl(43, 84%, 65%);

    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: var(--veryDarkBlue);
    text-align: center;
}

main{
    margin: 80px 15px 80px 15px;
}

article{
    background-color: var(--darkBlue);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
}

.user-display{
    background-color: var(--blue);
    display: flex;
    box-sizing: border-box;
    max-height: 134px;
    padding: 31px;
}

.user-display img{
    border: 3px solid white;
    border-radius: 50%;
    height: 64px;
}

.user-display-text{
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    text-align: left;
}

.user-display-text h1{
    font-size: 0.86em;
    font-weight: 400;
    color: var(--paleBlue);
    margin: 11px 0px 0px 0px;

}

.user-name{
    font-size: 1.35em;
    font-weight: 300;
    color:white;
    margin-top: 3px;
}

.time-selector{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--desaturatedBlue);
}


.hidden{
    display: none;
}

.activity-tile{
    background-color: black;
    background-repeat: no-repeat;
    background-position: 94% -13px;
    padding-top: 38px;
    overflow: visible;
    color: white;
}

.activity-tile-text{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: var(--darkBlue);
    border-radius: 15px;
    padding-inline: 25px;
    padding-block: 28px;
}

.activity-tile-text h2{
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    margin: 0px 0px 0px 0px;

    font-size: 1em;
}

.time-current{
    grid-row: 2;
    grid-column: 1;
    text-align: left;
    margin: 7px 0px 0px 0px;

    font-size: 1.8em;
    font-weight: 300;
}

.activity-tile-text img{
    grid-row: 1;
    grid-column: 2;
    margin: 10px 0px 0px auto;
}

.time-previous{
    grid-row: 2;
    grid-column: 2;
    text-align: right;
    margin: 18px 0px 0px 0px;

    font-size: 0.84em;
    color: var(--paleBlue);
}






.tile-work{
    background-color: var(--colWork);
    background-image: url("./images/icon-work.svg");
}

.tile-play{
    background-color: var(--colPlay);
    background-image: url("./images/icon-play.svg");
}

.tile-study{
    background-color: var(--colStudy);
    background-image: url("./images/icon-study.svg");
}

.tile-exercise{
    background-color: var(--colExercise);
    background-image: url("./images/icon-exercise.svg");
}

.tile-social{
    background-color: var(--colSocial);
    background-image: url("./images/icon-social.svg");
}

.tile-self-care{
    background-color: var(--colSelfCare);
    background-image: url("./images/icon-self-care.svg");
}

.attribution{
    position: fixed;
    font-size: 10px;
    color: var(--paleBlue);
    right: 0px;
    bottom: 0px;
}


/*Desktop Layout*/
@media only screen and (min-width: 1000px){

    main{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        gap: 30px;
    }

    article{
        width: 256px;
        margin: 0px;
    }

    .user-tile{
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .user-display{
        flex-direction: column;
        border-radius: 15px;
        min-height: 355px;
    }

    .user-display img{
        width: 80px;
        height: unset;
    }

    .user-display-text{
        margin: 30px 0px 0px 0px;
    }

    .user-name{
        font-size: 2.24em;
    }

    .time-selector{
        flex-direction: column;
        text-align: left;
        padding-top: 25px;
        padding-bottom: 33px;
    }

    .time-selector a{
        margin-left: 33px;
    }

    .activity-tile{
        padding-top: 45px;
    }

    .activity-tile-text{
        grid-template-rows: auto auto auto;
        padding-inline: 30px;
        padding-block: 30px;
    }

    .activity-tile-text h2{

    }


    .time-current{
        margin-top: 25px;
        font-size: 3.1em;
    }

    .time-previous{
        grid-row: 3;
        grid-column: 1;
        text-align: left;
        margin-top: 8px;
    }

    .tile-work{
        grid-column: 2;
        grid-row: 1;
    }

    .tile-play{
        grid-column: 3;
        grid-row: 1;
    }

    .tile-study{
        grid-column: 4;
        grid-row: 1;
    }

    .tile-exercise{
        grid-column: 2;
        grid-row: 2;
    }

    .tile-social{
        grid-column: 3;
        grid-row: 2;
    }

    .tile-self-care{
        grid-column: 4;
        grid-row: 2;
    }




}