:root{
    --blue: hsl(246, 80%, 60%);
    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);

    --colWork: hsl(15, 100%, 70%);
    --colPlay: hsl(195, 74%, 62%);
    --colStudy: hsl(348, 100%, 68%);
    --colExercise: hsl(145, 58%, 55%);
    --colSocial: hsl(264, 64%, 52%);
    --colSelfCare: hsl(43, 84%, 65%);

    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: var(--veryDarkBlue);
    text-align: center;
}

main{
    margin: 80px 15px 80px 15px;
}

article{
    background-color: var(--darkBlue);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
}

.user-display{
    background-color: var(--blue);
    display: flex;
    box-sizing: border-box;
    max-height: 134px;
    padding: 31px;
}

.user-display img{
    border: 3px solid white;
    border-radius: 50%;
    height: 64px;
}

.user-display-text{
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    text-align: left;
}

.user-display-text h1{
    font-size: 0.86em;
    font-weight: 400;
    color: var(--paleBlue);
    margin: 11px 0px 0px 0px;

}

.user-name{
    font-size: 1.35em;
    font-weight: 300;
    color:white;
    margin-top: 3px;
}

.time-selector{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--desaturatedBlue);
}


.hidden{
    display: none;
}

.activity-tile{
    background-color: black;
    background-repeat: no-repeat;
    background-position: 94% -13px;
    padding-top: 38px;
    overflow: visible;
    color: white;
}

.activity-tile-text{
    display: flex;
    background-color: var(--darkBlue);
    border-radius: 15px;
    justify-content: space-between;
    padding-inline: 25px;
    padding-block: 28px;
}

.activity-left{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.activity-left h2{
    font-size: 1em;
    font-weight: 500;
    margin: 0px 0px 8px 0px;
}

.time-current{
    font-size: 1.8em;
    font-weight: 300;
}

.activity-right{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 10px 0px auto 0px;
    align-items: flex-end;


}

.activity-right img{
    width: 22px;
}

.time-previous{
    font-size: 0.8em;
    font-weight: 400;
    color: var(--paleBlue);
    margin-top: 25px;
}

.tile-work{
    background-color: var(--colWork);
    background-image: url("./images/icon-work.svg");
}

.tile-play{
    background-color: var(--colPlay);
    background-image: url("./images/icon-play.svg");
}

.tile-study{
    background-color: var(--colStudy);
    background-image: url("./images/icon-study.svg");
}

.tile-exercise{
    background-color: var(--colExercise);
    background-image: url("./images/icon-exercise.svg");
}

.tile-social{
    background-color: var(--colSocial);
    background-image: url("./images/icon-social.svg");
}

.tile-self-care{
    background-color: var(--colSelfCare);
    background-image: url("./images/icon-self-care.svg");
}

.attribution{
    position: fixed;
    font-size: 10px;
    color: var(--paleBlue);
    right: 0px;
    bottom: 0px;
}